<!DOCTYPE html>
<html>
  <head>
    <title>Geocoding service</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">


    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmJlLCNOIJKSZCteYCGfd_z--fMXDRchE&extension=.js">
    </script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/factories.js"></script>
    <script src="/js/main.js"></script>

  </head>
  <body ng-app="travelApp">


    <ui-view></ui-view>

  </body>
</html>
