<div class="container">
  <div class="row center-align">

    <div class="col s12">
      <form name="authForm" ng-controller="authCtrl" novalidate ng-submit="submit(user)" id="form">

        <input type="text" name="username" ng-model="user.username" placeholder="username" required>
        <input type="password" name ="password" ng-model="user.password" placeholder="password" required>
        <input ng-if="state.name === 'register' && user.password"
        type="password" name="passwordConf"
        ng-model="user.passwordConfirm"
        placeholder="confirm password" required>

        <button id="register" type="submit" ng-disabled="(authForm.$invalid === true) || (user.password !== user.passwordConfirm && state.name==='register')">{{state.name}}</button>
        <bu
              
      </form>

    </div>

  </div>
</div>
<!-- <div id="map"></div> -->
